<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <script src="{{ site.baseurl }}/search.js" defer></script>
</head>
<body>
  <header>
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <input type="text" id="search" placeholder="Search posts...">
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    &copy; {{ site.time | date: "%Y" }} {{ site.title }}
  </footer>
</body>
</html>
